@page "/rml"



<h3>ReserachModelList</h3>

<table>
    <tr>
        <th>
            Number
        </th>  
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
    </tr>
    <tr>
        <td>
            <input type="text" />
        </td>
    </tr>
</table>



@code {
    

 

}
