@page "/"
@inject SingletonService singletonService
@inject ScopedService scopedService
@inject TransientService transientService
<h1>Hello, world!</h1>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Singleton Service - @singletonService.ServiceId</li>
            <li>Scoped Service - @scopedService.ServiceId</li>
            <li>Transient Service - @transientService.ServiceId</li>
        </ul>
    </div>
</div>
Welcome to your new app.


